#!/usr/bin/make -f
%:
	dh $@

OUTDIR=$(CURDIR)/debian/tmp
BINDIR=$(OUTDIR)/sra-tools/linux/gcc/x86_64/rel/bin

override_dh_auto_configure:
	./configure --build-prefix=$(OUTDIR)

override_dh_auto_install:
	mv $(BINDIR) $(OUTDIR)
	rm -rfv $(OUTDIR)/sra-tools

override_dh_auto_test:

override_dh_prep:
	dh_prep -X debian/tmp
